@import "./colors.module";

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.formContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  form {
    max-height: 95vh;
    overflow: auto;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    @media screen and (max-height: 600px) {
      height: 80vh;
      margin: 0px 10px;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      margin: 0px 10px;
    }
    .formControlContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 5px 0px;

      p {
        color: $red;
        margin-top: 2px;
        margin-bottom: 0px;
      }
    }

    input[type="submit"] {
      margin-top: 20px;
    }

    p {
      margin: 10px 0px;
    }
  }
}
